html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}



body {
    min-height: 100vh;
}

.container {
    height:100%;
    display:flex;
    justify-content: center;
    gap:10px;
    align-items: start;
    margin:10px 0 0 0;
}

.col {
    border:1px solid black;
}